.scrollTop {
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  display: inline-block;
  padding-right: 1rem;
  background: none;
  outline: none;
  border: none;
  color: var(--colorWhite);
  font-family: var(--fontFamily);
  z-index: 6;
}

.scrollTop:hover {
  cursor: pointer;
}

.scrollTop svg {
  position: absolute;
  right: 0;
  display: inline-block;
  transform: translateX(0) rotate(90deg);
  transition: transform 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .scrollTop {
    position: fixed;
    bottom: 2.5rem;
    right: 4rem;
    transform: rotate(90deg);
    color: var(--colorBlack);
    padding-right: 0;
    font-size: 1rem;
  }

  .scrollTop svg {
    position: relative;
    right: auto;
    margin-right: 1rem;
    transform: rotate(0);
  }

  .scrollTop:hover svg {
    transform: translateX(-0.5rem) rotate(0);
    transition: transform 0.3s ease-in-out;
  }
}
