.scrollTop {
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  display: inline-block;
  padding-right: 1rem;
  background: none;
  outline: none;
  border: none;
  color: var(--colorWhite);
  font-family: var(--fontFamily);
  z-index: 6;
}

.scrollTop:hover {
  cursor: pointer;
}

.scrollTop svg {
  position: absolute;
  right: 0;
  display: inline-block;
  transform: rotate(90deg);
}

@media (min-width: 768px) {
  .scrollTop {
    bottom: 2.5rem;
    right: 4rem;
    transform: rotate(90deg);
    color: var(--colorBlack);
    padding-right: 0;
  }

  .scrollTop svg {
    position: relative;
    right: auto;
    margin-right: 1rem;
    transform: rotate(0);
  }
}
