.welcomeSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.welcomeSection::after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  background-color: #171717;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.welcomeHeader {
  max-width: 400px;
  text-align: left;
  font-size: 10rem;
  color: #FFFF0A;
  z-index: 2;
  overflow-wrap: break-word;
}