html,
body,
#root {
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
  font-weight: 800;
  line-height: 1.25;
}

.app {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--colorWhite);
  color: var(--colorBlack);
  font-family: var(--fontFamily);
  z-index: 0;
}

.appBorders {
  display: none;
}

.appContent {
  height: 100%;
  width: 100%;
  background-color: var(--colorOffWhite);
  color: var(--colorBlack);
  z-index: 1;
  overflow: auto;
}

.appContentInner {
  height: 100%;
  width: 100%;
}

.logoLink {
  position: absolute;
  top: calc(50% - 10px);
  left: 30px;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.logoLink:hover {
  color: var(--colorRed);
  transition: color 0.3s ease-in-out;
}

.logoLink:hover span {
  color: var(--colorBlack);
  transition: color 0.3s ease-in-out;
}

.logo {
  position: fixed;
  top: 15px;
  left: 30px;
  z-index: 10;
}

.logo svg {
  height: 20px;
  width: auto;
}

.logo svg path {
  fill: var(--colorRed);
}

.animatedSection {
  height: 100%;
  width: 100%;
}

.italicText {
  font-style: italic;
  font-weight: 400;
}

.boldText {
  font-weight: bold;
}

.redText {
  color: var(--colorRed);
  transition: color 0.3s ease-in-out;
}

.blueText {
  color: var(--colorBlue);
  transition: color 0.3s ease-in-out;
}

.blackText {
  color: var(--colorBlack);
  transition: color 0.3s ease-in-out;
}

.whiteText {
  color: var(--colorWhite);
  transition: color 0.3s ease-in-out;
}

.languageButton {
  position: relative;
  border: none;
  outline: none;
  background: none;
  color: var(--colorBlack);
  font-family: var(--fontFamily);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.languageButton span {
  color: var(--colorRed);
  transition: color 0.3s ease-in-out;
}

.languageButton::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 6px;
  height: 2px;
  width: calc(100% - 12px);
  background-color: var(--colorBlack);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.languageButton:hover,
.languageButtonActive {
  cursor: pointer;
  color: var(--colorRed);
  transition: color 0.3s ease-in-out;
}

.languageButton:hover::after,
.languageButtonActive::after {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.languageButton:hover span,
.languageButtonActive span {
  color: var(--colorBlack);
  transition: color 0.3s ease-in-out;
}

.link {
  position: relative;
  display: block;
  width: auto;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: var(--colorBlack);
  border-bottom: 1px solid var(--colorTransparent);
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.incognitoLink {
  color: var(--colorBlack);
  text-decoration: none;
}

.link:hover {
  color: var(--colorRed);
  border-bottom: 1px solid var(--colorBlack);
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.slick-dots {
  top: 2.8rem;
  bottom: auto;
  right: 2rem;
  width: calc(100% - 2rem);
  text-align: right;
}

.slick-dots li button::before {
  transform: scale(1);
  transform-origin: center;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.slick-dots li.slick-active button::before,
.slick-dots li button:focus::before,
.slick-dots li button:hover::before {
  color: var(--colorRed);
  opacity: 1;
  transform: scale(1.5);
  transition: color 0.3s ease-in-out 0.3s, opacity 0.3s ease-in-out 0.3s,
    transform 0.3s ease-in-out 0.3s;
}

.sliderSection .slick-dots {
  top: -6.2rem;
}

@media (min-width: 768px) {
  .appContent {
    height: 100%;
    width: calc(100% - 100px);
    padding: 50px;
  }

  .appFrame {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

  .appBorders {
    display: flex;
  }

  .borderTop {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: var(--colorWhite);
    z-index: 2;
  }

  .borderBottom {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: var(--colorWhite);
    z-index: 2;
  }

  .borderRight {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 50px;
    background-color: var(--colorWhite);
    z-index: 2;
  }

  .borderLeft {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 50px;
    background-color: var(--colorWhite);
    z-index: 2;
  }

  .logoLink {
    left: 50px;
  }

  .logo {
    left: 50px;
  }

  .logo svg path {
    fill: var(--colorBlack);
  }

  .sliderSection .slick-dots,
  .slick-dots {
    top: auto;
    right: auto;
    bottom: 1.25rem;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
