h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1rem;
  font-weight: 800;
  line-height: 1.25;
}

.app {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--colorWhite);
  color: var(--colorBlack);
  font-family: "Montserrat", sans-serif;
  z-index: 0;
  overflow: auto;
}

.appInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  color: var(--colorBlack);
  z-index: 1;
  overflow: auto;
}

.logo {
  position: fixed;
  top: 15px;
  left: 30px;
  z-index: 10;
}

.logo svg {
  height: 20px;
  width: auto;
}

.logo svg path {
  fill: var(--colorRed);
}

.animatedSection {
  height: 100%;
  width: 100%;
}

.italicText {
  font-style: italic;
  font-weight: 400;
}

.boldText {
  font-weight: bold;
}

.redText {
  color: var(--colorRed);
}

.blackText {
  color: var(--colorBlack);
}

.link {
  position: relative;
  display: block;
  width: auto;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: var(--colorBlack);
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.link:hover {
  color: var(--colorRed);
  border-bottom: 1px solid var(--colorBlack);
  transition: color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.slick-dots {
  top: 2.8rem;
  bottom: auto;
  right: 2rem;
  width: calc(100% - 2rem);
  text-align: right;
}

.slick-dots li button::before {
  transform: scale(1);
  transform-origin: center;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.slick-dots li.slick-active button::before {
  color: var(--colorRed);
  opacity: 1;
  transform: scale(1.5);
  transition: color 0.3s ease-in-out 0.3s, opacity 0.3s ease-in-out 0.3s,
    transform 0.3s ease-in-out 0.3s;
}

@media (min-width: 768px) {
  .appInner {
    top: 50px;
    left: 50px;
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    scroll-snap-type: y mandatory;
  }

  .snapSection {
    scroll-snap-align: start;
  }

  .logo {
    left: 50px;
  }

  .logo svg path {
    fill: var(--colorBlack);
  }

  .slick-dots {
    top: auto;
    right: auto;
    bottom: 1.25rem;
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
