.experimentsSection {
  height: 100%;
  width: 100%;
  min-height: 100%;
  padding: 3rem 0;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.experimentsSection.animate {
  opacity: 1;
  transition: opacity 3s ease-in-out;
}

@media (min-width: 768px) {
  .experimentsSection {
    min-height: calc(100vh - 100px);
    padding: 2rem 0;
  }
}
