.appHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.appHeaderInner {
  width: calc(100% - 60px);
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.appHeaderButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media(min-width: 768px) {
  .appHeaderInner {
    padding: 0 50px;
    width: calc(100% - 100px);
  }
}
