.experimentsTitle {
  position: relative;
  display: inline-block;
  padding: 3rem 2rem 0;
  margin-bottom: -2rem;
  text-align: left;
  font-size: 2.5rem;
  line-height: 1;
  color: var(--colorRed);
  transform: translateX(-30px);
  z-index: 10;
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.experimentsTitle::before {
  position: absolute;
  top: 0.75rem;
  left: 2.8rem;
  content: "";
  background-color: var(--colorBlack);
  border-radius: 2px;
  width: 3rem;
  height: 1px;
  z-index: 2;
}

.experimentsTitle::after {
  position: absolute;
  top: 0;
  left: 2rem;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid var(--colorRed);
  border-radius: 50%;
  z-index: 1;
}

.experimentsImageContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.experimentsImage {
  width: 100%;
  height: 40vh;
  background: linear-gradient(115.39deg, #3f5efb, #fb3f41), #e5e5e5;
  background-position: center;
  background-size: cover;
  transform: translateX(-30px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.experimentsContent {
  transform: translateX(30px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.experimentsSubtitle {
  padding: 2rem 2rem 0;
}

.experimentsText {
  flex-direction: column-reverse;
  padding: 0 2rem;
}

.experimentsText p {
  margin-top: 0;
  margin-right: 0.5rem;
}

.experimentsLabel {
  font-weight: bold;
  color: var(--colorBlack);
  margin-bottom: 0.5rem;
}

.experimentsDetails {
  align-items: flex-start;
  justify-content: flex-end;
}

.experimentsDetail {
  color: var(--colorTextAlt);
  margin: 0 0 0.5rem;
  font-size: 0.8rem;
  font-family: var(--fontFamilyAlt);
  font-style: italic;
}

.experimentsLink {
  position: relative;
  display: block;
  width: auto;
  margin: 0.5rem 0;
  text-decoration: none;
  color: var(--colorBlack);
  font-size: 0.9rem;
  font-family: var(--fontFamilyAlt);
  font-style: italic;
  line-height: 1;
  z-index: 0;
}

.experimentsLink::before {
  content: "";
  position: absolute;
  bottom: 30%;
  left: -5px;
  right: -5px;
  height: 50%;
  display: inline-block;
  transform: scaleX(0);
  transform-origin: right;
  background-color: var(--colorRedShadow);
  z-index: -1;
  transition: transform 0.3s ease-in-out;
}

.experimentsLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  display: inline-block;
  transform: scaleX(1);
  transform-origin: left;
  background-color: var(--colorBlack);
  z-index: 0;
  transition: transform 0.3s ease-in-out;
}

.experimentsLink:hover::before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.experimentsLink:hover::after {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.experimentsDescription {
  margin-bottom: 1rem;
  color: var(--colorTextAlt);
}

.experimentsDeadLink {
  margin: 0.5rem 0;
  font-weight: bold;
  font-size: 0.875rem;
  color: var(--colorTextAlt);
}

.experimentsDeadLink span {
  font-weight: bold;
}

.animate .experimentsImage,
.animate .experimentsTitle {
  transform: translateX(0);
  opacity: 1;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.animate .experimentsContent {
  transform: translateX(0);
  opacity: 1;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

@media (min-width: 768px) {
  .experimentsTitle {
    padding: 4rem 2rem 0;
  }

  .experimentsSubtitle {
    width: 33.33%;
    padding: 2rem;
  }

  .experimentsText {
    width: 66.66%;
    padding: 2rem;
    flex-direction: row;
  }

  .experimentsDetails {
    width: 100%;
    justify-content: flex-start;
  }

  .experimentsDescription {
    width: 100%;
    padding-left: 2rem;
    margin-bottom: 0;
  }
}
